<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class="page">
            <form action="/logar" method="POST" class="formLogin">
                <h1>Login</h1>
                <p>Digite os seus dados de acesso nos campos abaixo.</p>
                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Digite seu e-mail" autofocus="true" required/>
                <label for="password">Senha</label>
                <input type="password" name="senha" placeholder="Digite seu e-mail" required/>
                <span id="mensagemErro" style="color: red;">{{ mensagem_erro }}</span>
                <a href="/cadastro">Cadastrar</a>
                <input type="submit" value="Acessar" class="btn" />
            </form>
        </div>


    <script>
        function validarEmail(email) {
            var regex = /\S+@\S+\.\S+/;
            return regex.test(email);
        }
    </script>
    </body>
</html>